h1 {
  color: #3CB371;
}
.note {
  font-style: italic;
  color: #2F4F4F;
}
.error {
  color: #8B0000;
  background: #FA8072;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin-bottom: 10px;
}
